/* Photos */
.amplify-img-carousel {
  --width: 100%;
}

.amplify-img-gallery {
  padding: 10px;
  --width: 30%;
}

.gallery {
  padding-top: 20px;
}

.photo-section {
  padding-left: 5% !important;
  padding-right: 5% !important;
}

.gallery-item {
  padding: 0 !important;
  margin: 0 !important;
  display: inline;
}

.photo-section-heading {
  margin: 0;
  padding: 28px 0px 0px 0px;
}
